@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #514442;
    --branco: #bed6c7;
    --laranja: #514442;
    --azul-degrade: #3f8978;
    --fonte-principal: "Poppins";
    --azul: #3f8978;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: black;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}